/*
 * Base
 */
html, body{
	height: 100%;
	width:99%;
	background-color: #222;
	text-align: center;
	color: #fff;
	margin: 0px;

}

/*
 * Headers
 */
h1{
	font: 22px sans-serif;
	color: #fff;
	text-align: center;
	margin:0px;
	display:inline-block;
}
h2{
	font: 21px sans-serif;
	color: #fff;
	text-align: center;
	margin:0px;
	display:inline-block;
}
a{
	color: #fff;
}
a:hover {
  color:#e74c3c;
  text-decoration: none;
}
a:visited, a:active{
	text-decoration: none;
}

/*
 * Body
 */
.main-div{
	padding:0px;
	padding-top:10%;
}
.red,#red{
	color:#e74c3c;
}
.fluid-container{
	padding-top:13%;
}
#work-links-container{
	padding-right:5%;
	padding-left:25%;
	text-align: left;
}
#link-title{
	padding-bottom: 7%;
	text-align: center;
}
#work-years{
	float:left;
}
.other-links-container{
	padding-top:10%;
	text-align: left;
}
